// Tile styles used along with https://github.com/discourse/discourse-topic-thumbnails

// body tag is for extra specificity to avoid race condition

body {
  .topic-thumbnails-grid.topic-list {
    margin-top: 1.5em;

    tbody {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 2.5em 2em;

      tr {
        grid-template-columns: auto;
        grid-template-rows: 280px 1fr auto;
        height: unset;
        border-radius: 6px;
        border: none;
        background: #fff;
        grid-template-areas: " image image " " title title" " posters posters";

        td.posters {
          grid-column-start: 1;
          padding: 1em 1.7em;
          background: #fff;
          justify-content: flex-start;
          a::after {
            content: " " attr(data-user-card);
            margin-left: 0.25em;
          }
          a.latest {
            width: auto !important;
          }
        }
      }

      .topic-thumbnails-grid .topic-list-thumbnail .main-thumbnail {
        object-fit: cover; // fill the entire image container
      }

      .thumbnail-placeholder {
        svg {
          display: none; // this hides the placeholder icon set in the topic thumbnails component
        }
        background-image: url(#{$placeholder_image_url});
        background-size: cover;
      }

      .main-link {
        background: #fff;
        padding: 2em 1.5em 1em;
        justify-content: flex-start;
      }

      .badge-wrapper,
      td.num.age {
        // hide category, posters, and latest activity time
        display: none !important;
      }

      .topic-excerpt {
        display: block;
        margin-top: 1em;
        font-size: $font-down-2;
        color: var(--primary-medium);
        width: auto;
      }

      .link-top-line {
        font-size: $font-up-2;
        font-weight: bold;
        align-self: start;
      }

      .link-bottom-line {
        order: -1; // put the tags above the title
        margin-bottom: 1em;
        align-self: start;
        .discourse-tags {
          .discourse-tag {
            margin-bottom: 0.33em;
          }
        }
        .desktop-view & {
          // reserves space to keep everything aligned even if a topic has no tags
          // but only on desktop, because mobile is a single column
          min-height: 1.5em;
        }
        a {
          text-transform: uppercase;
          font-size: $font-0;
        }
      }

      .topic-list-thumbnail {
        height: 280px;
      }
    }

    // hide hover excerpts
    .d-tooltip {
      display: none !important;
    }
  }
}
